<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>购物车</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isLogin">
  <!--已登录但没有购物车列表-->
    <div *ngIf="cartList.length==0" style='text-align:center;'>
      <img src="assets/img/404/404_img2.png" alt="">
      <h4>购物车是空的</h4>
      <button (click)='jumpToIndex()' ion-button color='secondary' large block>去逛逛</button>
    </div>

    <ion-grid *ngIf="cartList.length>0" >
      <ion-row align-items-center *ngFor='let items of cartList;let myIndex=index;'>
        <ion-col col-2>
          <ion-checkbox checked name='is_checked'></ion-checkbox>
        </ion-col>
        <ion-col col-3>
          <img style='width:80px;height:100%' [src]="'assets/'+items.pic" alt="">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <h5>{{items.title}}</h5>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-8>
              <button (click)="modifyCount(true,myIndex,items.iid)">-&nbsp;</button>
              <span>{{items.count}}</span>
              <button (click)="modifyCount(false,myIndex,items.iid)">&nbsp;+</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--没有登录就显示去登录页面-->
  <div *ngIf="!isLogin" text-center>
    <img src="assets/img/404/404_img2.png"/>
    <h3>请登录查看购物车信息</h3>
    <button (click)="jumpToLogin()"
            ion-button block color="secondary">
      登录
    </button>
  </div>
</ion-content>

<ion-footer>
  <ion-grid *ngIf='isLogin && cartList.length>0'>
    <ion-row align-items-center>
      <ion-col col-6>
        <ion-checkbox checked></ion-checkbox> 全选
        <span>合计￥{{getTotalPrice()}}</span>
      </ion-col>
      <ion-col col-4 offset-2>
        <button  ion-button color='danger' (click)="jumpToPay()"  block>去结算</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
